h1 {
    color: blue;
    font-size: 40pt;
    text-shadow: 10px 4px 8px grey;
 }
 p.example{
    font-family: "Courier New", Courier, monospace;
}
.blured {
    filter:blur(5px);
    transform: rotate(-30deg);
}
p.uppercase {
    text-transform: uppercase;
 }
 
ul{font-style: italic;}
ol{font-style:oblique;}


